header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-top: 92px;
  padding-left: 50px;
  padding-bottom: 96px;
  padding-right: 50px;
}
.header__links-list {
  display: flex;
  list-style: circle;
  gap: 32px;
  font-size: 18px;
  align-items: center;
}
.header__links-list > li:first-of-type {
  list-style: none;
}
.header__logo-image {
  width: 130px;
  height: 105px;
}
.address_header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  justify-self: right;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  width: 240px;
}

.slots {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
  padding: 0 24px;
  gap: 27px;
}
.slots_title {
  padding-left: 38px;
}
.slots_card_container {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
  width: 1052px;
  height: 600px;
}
.cover {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 757px;
  padding: 165px 50px 50px 50px;
  margin-bottom: 180px;
  position: relative;
}
.cover::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.cover_footer {      
  align-self: start;
  z-index: 2;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  word-spacing:18px;
} 
.button {
  border: 1px solid white;
  height: 51px;
  width: 256px;
  z-index: 2;
  text-transform: uppercase;
  font-size: 22px;
  color: white;
  background-color: transparent;
}

.cover_slogan {
  display: flex;
  gap: 106px;
  align-items: center;
}

.text_container {
  width: 1000px;
  height: 385px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.cover_text {
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 29px;
}

.cover_slogan_word {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 22px;
}

.center {
  align-self: center;
  margin-left: 29px;
}

.right {
  align-self: end;
  margin-right: -27px;
} 
.text_box {
  padding-top: 101px;
}

h1 {
  text-transform: uppercase;
  font-size: 40px;
}
h2 {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 22px;
  color: white;
  z-index: 2;
}

h4 {
  font-size: 20px;
  text-decoration: underline;
  padding-left: 36px;
  font-weight: 400;
}

.card_card_1, .card_card_2,.card_card_3 {
  height: 596px;
  width: 334px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 48px 40px;
  position: relative;
}
  .card_card_1 {
  background-image: url("../images/card-lot-01.jpg"); 
}
  .card_card_2 {
  background-image: url("../images/card-lot-02.jpg");
}
  .card_card_3 {
  background-image: url("../images/card-lot-03.jpg");
}

.card_card_1::before, .card_card_2::before, .card_card_3::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.card_text {
  font-size: 20px;
  font-weight: 400;
  color: white;
  line-height: 24px;
  z-index: 2;
}

.about {
  display: flex;
  gap: 72px;
  padding-top: 35px;
  padding-left: 69px;
  width: 1071px;
  margin-bottom: 182px;
}
.black_back {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  z-index: -1;
}
.logo-white {
  display: flex;
  margin: auto;
  width: 148px;
  height: 114px;
  z-index: 1;
}
.titul {
  font-weight: 700;
  margin-bottom: 100px;
}
.text_1, .text_2 {
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.text_1 {
  margin-bottom: 26px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items:start;
  gap:175px;
  width: 1100px;
  height: 180px;
}

.address_footer {
  font-family: "Raleway";
  font-style: normal;
  justify-self:right;
  padding-left: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align:left;
  width: 265px;
}
.footer__links-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  width: 164px;
}
.footer__social-list-item {
  display: flex;
  flex-direction: row;
  height: 48px;
  gap: 48px;
  max-width: 240px;
}