.contacts {
 display: flex;
 width: 240px;
 height:98px;
 text-align: left;
 border: 1px solid #000000
}
.address {
text-decoration: underline;
}
.about {
 display: flex;   
}
.slots1 {
    width: 334px;
    height: 596px;
}
.logo1{
    width: 1100px;
    height: 293px;
}
 .slots{
     display: flex;   
    align-items: center;
}